.hero {
  @apply flex flex-col gap-[3vw] text-center text-lightBlue h-[calc(100vh-112px)] items-center py-4;
}

.destinationPickerContainer {
  @apply flex uppercase text-white text-mobileHeadingXS font-barlowCondensed justify-center gap-4;
}

.destinationPickerContainer .number {
  @apply text-[rgb(100,100,100)] font-bold;
}

.pictureContainer {
  @apply w-24 h-24;
}

.destinationSelectorContainer {
  @apply text-mobileNavigation font-barlowCondensed text-white flex gap-4;
}

.destinationSelectorContainer button {
  @apply uppercase;
}

.planetSelected {
  @apply uppercase text-mobileHeadingL font-bellefair text-white;
}

.plantedExplanation {
  @apply text-body text-lightBlue font-barlow;
}

.divider {
  @apply h-[2px] w-full bg-[rgb(151,151,151)];
}

.distance {
  @apply flex flex-col uppercase;
}

.distance p {
  @apply text-subheadingS font-barlowCondensed font-bold;
}

.distance h2 {
  @apply text-subheadingL text-white font-bellefair;
}

/* .intro {
  @apply uppercase text-mobileHeadingXS font-barlowCondensed;
}

.h1 {
  @apply uppercase text-white text-mobileHeadingXL font-bellefair;
}

.subintro {
  @apply text-body font-barlow;
}
.ctaBtn {
  @apply relative w-40 h-40  mx-auto rounded-full bg-white uppercase text-darkNavy text-mobileHeadingS font-bellefair z-10;
}

.ctaBtn:after {
  @apply content-[''] bg-[rgba(255,255,255,0.51)] inline-block absolute -translate-x-1/2 -translate-y-1/2 rounded-full left-1/2 top-1/2 -z-10 w-52 h-52 opacity-0 transition-all duration-500;
}

.ctaBtn:hover.ctaBtn::after {
  @apply opacity-100;
} */
